.table-row {
    border-bottom: 1px solid black;
    height: 6rem;
}

.table-data {
    padding-left: 0.5rem;
}

.table-row-buttons {
    display: flex;
    justify-content: center;
    height: 6rem;
    align-items: center;
}

.table-row-button {
    height: 2rem;
}

